interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%272ff814a6-3304-4ab8-85cb-cd0e6f879c1d%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[{"id":"fe597bb2-377c-44f1-8515-82c8a1a62e3d","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"AzureDatabricks","appDescription":null,"appId":"2ff814a6-3304-4ab8-85cb-cd0e6f879c1d","applicationTemplateId":null,"appOwnerOrganizationId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"createdDateTime":null,"description":null,"disabledByMicrosoftStatus":null,"displayName":"AzureDatabricks","homepage":null,"loginUrl":null,"logoutUrl":"https://portal.azure.com/","notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":["https://accounts.azuredatabricks.net/aad/redirect","https://switzerlandwest.azuredatabricks.net/aad/redirect","https://switzerlandwest.azuredatabricks.net/login.html","https://switzerlandwest.pl-auth.azuredatabricks.net/aad/redirect","https://swedencentral.azuredatabricks.net/aad/redirect","https://swedencentral.pl-auth.azuredatabricks.net/aad/redirect","https://swedencentral.azuredatabricks.net/login.html","https://westcentralus.pl-auth.azuredatabricks.net/aad/redirect","https://westus2.pl-au[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals/fe597bb2-377c-44f1-8515-82c8a1a62e3d
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals/$entity","id":"fe597bb2-377c-44f1-8515-82c8a1a62e3d","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"AzureDatabricks","appDescription":null,"appId":"2ff814a6-3304-4ab8-85cb-cd0e6f879c1d","applic[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_create_v2000001/providers/Microsoft.KeyVault/vaults/clitest000002?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_create_v2000001/providers/Microsoft.KeyVault/vaults/clitest000002","name":"clitest000002","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-11-18T19:27:10.144Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-11-18T19:27:10.144Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"a70a66b6-f372-4fcc-9f09-6c5e1e64c3dd","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enableRbacAuthorization":false,"vaultUri":"https://clitest000002.vault.azure.net/","provisioningState":"Succeeded","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "a70a66b6-f372-4fcc-9f09-6c5e1e64c3dd",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
      "fe597bb2-377c-44f1-8515-82c8a1a62e3d", "permissions": {"keys": ["get", "unwrapKey",
      "wrapKey"]}}], "vaultUri": "https://clitest000002.vault.azure.net/", "enabledForDeployment":
      false, "enabledForDiskEncryption": false, "enabledForTemplateDeployment": false,
      "enableSoftDelete": true, "softDeleteRetentionInDays": 7, "enableRbacAuthorization":
      false, "provisioningState": "Succeeded", "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_create_v2000001/providers/Microsoft.KeyVault/vaults/clitest000002?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_create_v2000001/providers/Microsoft.KeyVault/vaults/clitest000002","name":"clitest000002","type":"Microsoft.KeyVau[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clitest000002.vault.azure.net/keys/testkey/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"key":{"kid":"https://clitest000002.vault.azure.net/keys/testkey/412af2ca838b4c8db5119bda89ed4a4d","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"5gy-kTKIZFLzKIsj5QNRP2ZX9oPcSNeJgqaoWPH6_ICs7HmYqSZGEuk6CbWSo4C3_5cJaucIeKEoc800lHD70URfZu1uzoVUBXM-df10cGRp3njXOCK8471r7lxN2vh76JdBZox2CH5zIpslIk9fIYnlOsfQyUonXEIyDjUFZcN0dStumiCOU_WyCVDm2oVdQMLNSFxi0n0P4hDnsSFX2VG5GTVFeaVKg_imdiOIyk7FWfqveUpPsTiYc9LaY23OIQWvWzcdQMfkPbGAtlZTeWKnys8WzvgMteRM7fNmFDIKlXF_W9ZPjoRYz1Za4K0_NdCS8GHIo5g4qF9gnW-GrQ","e":"AQAB"},"attributes":{"enabled":true,"created":1763494068,"updated":1763494068,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
