interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%272ff814a6-3304-4ab8-85cb-cd0e6f879c1d%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[{"id":"fe597bb2-377c-44f1-8515-82c8a1a62e3d","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"AzureDatabricks","appDescription":null,"appId":"2ff814a6-3304-4ab8-85cb-cd0e6f879c1d","applicationTemplateId":null,"appOwnerOrganizationId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"createdDateTime":null,"description":null,"disabledByMicrosoftStatus":null,"displayName":"AzureDatabricks","homepage":null,"loginUrl":null,"logoutUrl":"https://portal.azure.com/","notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":["https://accounts.azuredatabricks.net/aad/redirect","https://switzerlandwest.azuredatabricks.net/aad/redirect","https://switzerlandwest.azuredatabricks.net/login.html","https://switzerlandwest.pl-auth.azuredatabricks.net/aad/redirect","https://swedencentral.azuredatabricks.net/aad/redirect","https://swedencentral.pl-auth.azuredatabricks.net/aad/redirect","https://swedencentral.azuredatabricks.net/login.html","https://westcentralus.pl-auth.azuredatabricks.net/aad/redirect","https://westus2.pl-au[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals/fe597bb2-377c-44f1-8515-82c8a1a62e3d
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals/$entity","id":"fe597bb2-377c-44f1-8515-82c8a1a62e3d","deletedDateTime":null,"accountEnabled":true,"alternativeNames":[],"appDisplayName":"AzureDatabricks","appDescription":null,"appId":"2ff814a6-3304-4ab8-85cb-cd0e6f879c1d","applic[...]
